<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>getdatacontroller</display-name>
    <servlet-name>getdatacontroller</servlet-name>
    <servlet-class>com.datatable.controller.getdatacontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getdatacontroller</servlet-name>
    <url-pattern>/getdatacontroller</url-pattern>
  </servlet-mapping>
  <display-name>datatable</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogincontroller</display-name>
    <servlet-name>adminlogincontroller</servlet-name>
    <servlet-class>com.datatable.controller.adminlogincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogincontroller</servlet-name>
    <url-pattern>/adminlogincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogoutcontroller</display-name>
    <servlet-name>adminlogoutcontroller</servlet-name>
    <servlet-class>com.datatable.controller.adminlogoutcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogoutcontroller</servlet-name>
    <url-pattern>/adminlogoutcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogincontroller</display-name>
    <servlet-name>studentlogincontroller</servlet-name>
    <servlet-class>com.datatable.controller.studentlogincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogincontroller</servlet-name>
    <url-pattern>/studentlogincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogoutcontroller</display-name>
    <servlet-name>studentlogoutcontroller</servlet-name>
    <servlet-class>com.datatable.controller.studentlogoutcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogoutcontroller</servlet-name>
    <url-pattern>/studentlogoutcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admincontroller</display-name>
    <servlet-name>admincontroller</servlet-name>
    <servlet-class>com.datatable.controller.admincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admincontroller</servlet-name>
    <url-pattern>/admincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>querycontroller</display-name>
    <servlet-name>querycontroller</servlet-name>
    <servlet-class>com.datatable.controller.querycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querycontroller</servlet-name>
    <url-pattern>/querycontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admingetquerycontroller</display-name>
    <servlet-name>admingetquerycontroller</servlet-name>
    <servlet-class>com.datatable.controller.admingetquerycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetquerycontroller</servlet-name>
    <url-pattern>/admingetquerycontroller</url-pattern>
  </servlet-mapping>
</web-app>